// reset original
:global
  .rst__rowLabel
    width 100%
    padding 0px

// condition && pattern operations
.item
  position relative
  display flex
  justify-content space-between
  width 100%
  .btns
    position absolute
    display flex

  .btn
    margin 8px